$soft: #c0ecc4;
$hard: #5dd666;
$hardfont: #4ca852;
$harderfont: #357439;
$harderfontlight: #35743981;
$greybox: #c4c4c4;


.inventory {
    width: 70vw;
    margin-top: 12vh;
    letter-spacing: 0.125rem;
    .title {
        height: 10vh;
        .maintitle {
            display: flex;
            font-size: 2.25rem;
            .icon {
                width: 44px;
                height: 44px;
                // background-image: url('/images/dog.svg');
                background-position: center;
                background-size: cover;
                transform: translateY(0.3rem);
            }
            .text {
                display: flex;
                margin-left: 2rem;
                .especie {
                    color: $harderfont;
                    font-weight: 500;
                }
                .number {
                    display: flex;
                    text-align: center;
                    align-items: center;
                    font-size: 2rem;
                    font-weight: 500;
                    margin-left: 2rem;
                    color: $harderfontlight;
                }
            }
        }
        .subtitle {
            display: flex;
            align-items: center;
            margin-left: 4.9rem;
            margin-top: 0.125rem;
            font-size: 1.125rem;
            font-weight: 500;
            .separator {
                width: 0.4rem;
                height: 0.4rem;
                align-items: center;
                background-color: $harderfontlight;
                border-radius: 50%;
                margin-left: 1rem;
            }
            .location {
                margin-left: 1rem;
            }
        }
    }
    .imagescontainer {
        display: flex;
        justify-content: left;
        margin-top: 1.25rem;
        .container {
            display: flex;
            flex-wrap: wrap;
            height: 25rem;
            width: 100%;
            .image {
                height: 50%;
                width: 50%;
                background-size: cover;
                background-position: center;
                box-shadow:inset 0px 0px 0px 0.125rem rgb(255, 255, 255);
                &.main {
                    width: 100%;
                    height: 100%;
                    border-radius: 0 0 0 60px;
                }
                &:nth-child(2) {
                    border-radius: 0 60px 0 0;
                }

            }

        }

    }
    .information {
        display: flex;
        width: 70vw;
        justify-content: space-between;
        margin-top: 2rem;
        .description {
            width: 30vw;
        }
        .contactinfo {
            justify-content: right;
            text-align: right;
            .contactlabel {
                font-weight: 600;
            }
        }
    }

}

.loading {
    background-color: rgb(223, 223, 223);
    color: rgb(223, 223, 223) !important;
    border-radius: 20px;
}