.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
	width: 70vw;
	height: 100vh;
    background-color: rgb(255, 255, 255);
	background-size: cover;
    .searcher {
        z-index: 20;
        margin-top: 0vh;
        display: flex;
        justify-content: space-between;
        width: 70vw;
        .busquedarapida {
            display: flex;
            align-items: center;
            font-size: 1.15rem;
            font-weight: 500;
            min-width: 15vw;
        }        
        .selectable {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 1rem;
            padding-right: 1rem;
            margin: 0 0.5rem;
            width: 14rem;
            height: 3.2rem;
            box-shadow: 0 0 0.2rem rgb(155, 155, 155);
            background-color: white;
            border-radius: 10px;
            p {
                display: flex;
                align-items: center;
                color: rgb(0, 0, 0);
            }
            .chosen {
                display: flex;
                margin-left: 1rem;
            }
            .flechaseleccion {
                display: flex;
                .bar {
                    background-color: black;
                    width: 10px;
                    height: 2px;
                    transition: 0.2s;
                    &.a {
                        transform: translateX(4px) rotate(45deg);
                    }
                    &.b {
                        transform: rotate(-45deg);
                    }
                }
            }
            &.displayed {
                .flechaseleccion {
                    .bar {
                        &.a {
                            transform: translateX(4px) rotate(-45deg);
                        }
                        &.b {
                            transform: rotate(45deg);
                        }
                    } 
                }
            }
            &.zona {
                &:hover {
                    cursor: pointer;
                }
            }
            &.especie {
                &:hover {
                    cursor: pointer;
                }
            }
            &.raza {
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .gosearch {
            position: relative;
            width: 3.2rem;
            min-width: 3.2rem;
            height: 3.2rem;
            background-color: white;
            margin-left: 5rem;
            box-shadow: 0 0 0.2rem rgb(155, 155, 155);
            border-radius: 10px;
            svg {
                position: absolute;
                transition: 0.2s;
            }
            &:hover {
                cursor: pointer;
                svg {
                    transform: rotateZ(-10deg);
                }
            }
            .searchbrush {
                position: absolute;
                z-index: -10;
                width: 7rem;
                height: 7rem;
                transform: translateX(-30%) translateY(-30%);
                background-image: url(/images/searchbrush.png);
                background-size: cover;
            }
        }
    }
    .options {
        display: flex;
        z-index: 10;
        width: 80rem;
        justify-content: space-between;
        position: absolute;
        top: 80vh;
        width: 70vw;
        transform: translateY(-100%);
        .options-zona {
            display: flex;
            flex-direction: column;
            max-height: 12.7rem;
            width: 16rem;
            visibility: hidden;
            margin: 1rem 0.5rem;
            overflow-y: auto;
            overflow-x: hidden; 
            box-shadow: 0 0 0.2rem rgb(155, 155, 155);
            &.displayed {
                display: flex;
                visibility: visible;
                background-color: white;
                border-radius: 10px;
                div {
                    display: flex;
                    padding-left: 2rem;
                    div {
                        width: 2rem;
                        height: 2rem;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-top: 0.5rem;
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: rgb(240, 240, 240);
                        border-radius: 10px;
                    }
                }
            }
            .option {
                width: 100%;
                height: 1.2rem !important;
                padding: 0.55rem 1rem;
                background-size: contain;
                background-repeat: no-repeat;
                &:hover {
                    cursor: pointer;
                    background-color: rgb(240, 240, 240);
                }
            }    
        }
        .options-especie {
            display: flex;
            flex-direction: column;
            max-height: 12.7rem;
            width: 16rem;
            visibility: hidden;
            margin: 1rem 0.5rem;
            overflow-y: auto;
            overflow-x: hidden;   
            box-shadow: 0 0 0.2rem rgb(155, 155, 155);
            &.displayed {
                display: flex;
                visibility: visible;
                background-color: white;
                border-radius: 10px;
                div {
                    display: flex;
                    padding-left: 2rem;
                    div {
                        width: 2rem;
                        height: 2rem;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-top: 0.5rem;
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: rgb(240, 240, 240);
                        border-radius: 10px;
                    }
                }
            }
        }
        .options-raza {
            display: flex;
            flex-direction: column;
            max-height: 12.7rem;
            width: 16rem;
            margin: 1rem 0.5rem;
            visibility: hidden;
            background-color: white;
            border-radius: 10px;
            overflow-y: auto;
            overflow-x: hidden;  
            box-shadow: 0 0 0.2rem rgb(155, 155, 155);
            &.displayed {
                display: flex;
                visibility: visible;
                background-color: white;
                border-radius: 10px;
            }
            .option {
                width: 100%;
                height: 1.2rem !important;
                padding: 1rem 1rem;
                background-size: contain;
                background-repeat: no-repeat;
                &:hover {
                    cursor: pointer;
                    background-color: rgb(240, 240, 240);
                }
            }
        }
        .analog-blankspace-busquedarapida {
            display: flex;
            visibility: hidden;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 500;
            min-width: 15vw;
        }
        .analog-blankspace-searcher {
            margin-left: 5rem;
            width: 3.2rem;
            height: 3.2rem;
        }
    }
    .publishnowcontainer {
        width: 70vw;
        height: 60vh;
        .playingdogs {
            position: relative;
            top: 5vh;
            left: 5vw;
            width: 38vw;
            height: 47vh;
            background-image: url(/images/perrosjugando.jpeg);
            background-size: cover;
            background-position: center;
            border-radius: 2.5rem;
        }
        .description {
            position: relative;
            width: 20vw;
            top: -28vh;
            left: 40vw;
            font-size: 1vw;
            color: rgba(0, 0, 0, 0.4);
            background-color: white;
            padding: 1rem;
            border-radius: 1rem;
            // box-shadow: 0 0 0.2rem rgb(155, 155, 155);
            font-weight: 500;
            margin-bottom: 4vh;
        }
        .publishbutton {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            top: -30vh;
            left: 48vw;
            width: 12vw;
            height: 3.5rem;
            border-radius: 1rem;
            background-color: rgb(248, 248, 248);
            box-shadow: 0 0 0.2rem rgb(155, 155, 155);
            &:hover {
                cursor: pointer;
                background-color: rgb(240, 240, 240);
            }
        }
    }
    .toppublicaciones {
        margin-top: 5vh;
        p {
            color: black;
            font-size: 2.4vh;
            font-weight: 500;
        }
        .gridpublicaciones {
            display: flex;
            margin-top: 2rem;
            justify-content: space-between;
            width: 70vw;
            height: 15rem;
            .publicacion {
                width: 15vw;
                height: 12rem;
                border-radius: 1.5rem;
                background-color: rgb(233, 233, 233);
                background-size: cover;
                &:nth-child(1) {
                    background-image: url(/images/publicacion1.jpg);
                }
                &:nth-child(2) {
                    background-image: url(/images/publiacion2.jpg);
                }
                &:nth-child(3) {
                    background-image: url(/images/publicacion3.jpg.crdownload);
                }
                &:nth-child(4) {
                    background-image: url(/images/publicacion4.jpg);
                }
            }
        }
    }
    .explora {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            color: rgb(0, 0, 0);
            font-size: 1.15rem;
            font-weight: 500;
            margin-top: 10vh;
        }
        .explorebrush {
            position: absolute;
            top: 5.4vh;
            width: 12rem;
            height: 8rem;
            background-image: url(/images/explorebrush.png);
            background-size: cover;
            transform: rotate(30deg);
        }
    }
}

.perroicono {
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0.5rem;
    padding-left: 2rem;
    background-image: url("/images/dog.png");
}
.gatosicono {
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0.5rem;
    padding-left: 2rem;
    background-image: url("/images/cat.png");
}
.caballosicono {
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0.5rem;
    padding-left: 2rem;
    background-image: url("/images/horse.png");
}
.avesicono {
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0.5rem;
    padding-left: 2rem;
    background-image: url("/images/pato.png");
}
.roedoresicono {
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0.5rem;
    padding-left: 2rem;
    background-image: url("/images/rata.png");
}
.gallinasicono {
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0.5rem;
    padding-left: 2rem;
    background-image: url("/images/gallina.png");
}