// Main colors
$soft: #c0ecc4;
$hard: #5dd666;
$hardfont: #4ca852;
$harderfont: #357439;
$harderfontlight: #35743981;

// New colors
$newgreenhard: #52694F;
$newgreensoft: #839886;
$newgreenlight: #F0E6D1;


.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh;
	width: 90vw;
    // background-color: rgb(240, 151, 151);
	background-size: cover;
    .firstpagecontainer {
        position: relative;
        // background-color: rgb(179, 240, 151);
        width: 90vw;
        max-width: 1200px;
        @media (max-width: 1600px) {
            max-width: 1000px;
          }   
        height: 92vh;
        .landingtitle {
            margin-top: 4rem;
            width: 100%;
            font-weight: 500;
            font-size: 5.4rem;
            line-height: 100%;
            color: $newgreenhard;
            @media (max-width: 1400px) {
                font-size: 5.4rem;
            }
        }
        .landingdescription {
            margin-top: 4rem;
            width: calc(50%);
            font-size: 1.6rem;
            font-weight: 500;
            color: $newgreenhard;
            @media (max-width: 800px) {
                width: 100%;
            margin-top: 2rem;
            
            }    
        }
        .landingimages {
            display: flex;
            margin-top: 2rem;
            justify-content: space-between;
            width: 100%;
            height: 50%;
            .landingdogs {
                width: 49.5%;
                height: 100%;
                background-image: url('/images/perrosjugando.jpeg');
                background-size: cover;
                background-position: center;
                border-radius: 0 120px 0 240px;
                @media (max-width: 800px) {
                    display: none;
                }    
            }
            .landingcats {
                position: relative;
                width: 49.5%;
                height: 100%;
                background-image: url('/images/gatosjugando.jpg');
                background-size: cover;
                background-position: center;
                border-radius: 120px 0 240px 0;
                transform: translateY(-5rem);
                @media (max-width: 800px) {
                    transform: translateY(0);
                    width: 200%;
                }   
                // border: solid 6px white;
                .searcher {
                    display: flex;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    max-width: 600px;
                    .searchelement {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 10px 20px 10px 10px;
                        @media (max-width: 800px) {
                            margin: 40px 20px;
                        }   
                        &.especie {
                            width: 120px;
                        }
                        &.provincia {
                            width: 140px;
                        }
                        .buttonbox {
                            height: 40px;
                            background-color: $newgreenhard;
                            width: 100%;
                            padding: 0 10px;
                            margin-bottom: 4px;
                            border-radius: 16px;
                            justify-content: space-between;
                            &:hover {
                                cursor: pointer;
                            }
                            &.especie {
                                display: flex;
                                align-items: center;
                                .icon {
                                    height: 25px;
                                    width: 25px;
                                    background-image: url(/images/dog_light.svg);
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                }
                                .text {
                                    font-size: 12px;
                                    font-weight: 600;
                                    color: $newgreenlight;
                                }
                            }
                            &.search {
                                margin-left: 4rem;
                                width: 20px;
                                svg {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        .inputbox {
                            height: 40px;
                            background-color: $newgreenlight;
                            padding: 0 10px;
                            border-radius: 16px;
                            width: 100%;
                            border: none;
                            font-family: 'Montserrat Alternates', sans-serif;
                            font-size: 12px;
                            font-weight: 600;
                            letter-spacing: 1px;
                            color: $newgreenhard;
                            -webkit-appearance: none;
                            &:focus {
                                outline: none;
                            }
                            &::placeholder {
                                color: $newgreenhard;
                            }
                        }
                        .options {
                            display: none;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: space-between;
                            width: 140px;
                            min-height: 0px;
                            &.displayed {
                                display: flex;
                            }
                            &.provincia {
                                max-height: 120px;
                                margin-top: 5px;
                                border-radius: 16px;
                                padding: 0 10px;
                                background-color: $newgreenlight;
                            }
                            .searchoption {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: $newgreenhard;
                                height: 40px;
                                width: 40px;
                                margin: 2px 0;
                                &:hover {
                                    cursor: pointer;
                                }
                                .icon {
                                    height: 25px;
                                    width: 25px;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }
                                &.dog {
                                    .icon {
                                        background-image: url(/images/dog_light.svg);
                                    }
                                }
                                &.cats {
                                    .icon {
                                        background-image: url(/images/cat_light.svg);
                                    }
                                }
                                &.horse {
                                    .icon {
                                        background-image: url(/images/horse_light.svg);
                                    }
                                }
                                &.conejos {
                                    .icon {
                                        background-image: url(/images/rabbit_light.svg);
                                    }
                                }
                                &.dog {
                                    .icon {
                                        background-image: url(/images/dog_light.svg);
                                    }
                                }
                                &.white {
                                    background-color: white;
                                    &:hover {
                                        cursor: auto;
                                        pointer-events: none;
                                    }
                                }
                            }
                            .provinciaoption {
                                display: flex;
                                align-items: center;
                                justify-content: left;
                                height: 40px;
                                width: 100%;
                                font-size: 1.2rem;
                                font-weight: 600;
                                &:hover {
                                    cursor: pointer;
                                }
                            }

                        }
                    }
                   
                }
            }
        }
        
    }
    
    .explora {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100vh;
        p {
            color: rgb(0, 0, 0);
            font-size: 1.125rem;
            font-weight: 500;
            margin-top: 10vh;
        }
        .explorebrush {
            position: absolute;
            top: 5.7vh;
            width: 12rem;
            height: 8rem;
            background-image: url(/images/explorebrush.png);
            background-size: cover;
            opacity: 0.8;
            transform: rotate(30deg);
        }
        &:hover {
            cursor: pointer;
        }
    }

    .exploragrid {
        display: flex;
        flex-direction: column;
        width: 70vw;
        margin-top: 8vh;
        .explorarow {
            display: flex;
            margin: auto;
            .exploraitem {
                width: 15vw;
                max-width: 18rem;
                margin: 1rem 1.5rem;
                .exploraimage {
                    width: 100%;
                    padding-bottom: 100%;  
                    background-color: rgb(230, 230, 230);
                    border-radius: 20px;
                    background-size: cover;
                    background-position: center;
                }
                .explorainfo {
                    display: flex;
                    margin-top: 0.5rem;
                    .exploracontainer {
                        display: flex;
                        flex-direction: column;
                        &.one {
                            width: 0%;
                            background-size: contain;
                            background-repeat: no-repeat;
                            margin-right: 1rem;
                        }
                        &.two {
                            width: 80%;
                        }
                        .subcontainer {
                            display: flex;
                            align-items: center;
                            .exploratitulo {
                                margin-right: 0.5rem;
                                color: $harderfont;
                                font-weight: 500;
                            }
                            .exploranumber {
                                margin-right: 1rem;
                                color: $harderfontlight;
                                font-weight: 500;
                            }
                            .exploraedad {
                                margin-right: 0.5rem;
                            }
                            .separator {
                                width: 0.2rem;
                                height: 0.2rem;
                                align-items: center;
                                background-color: $harderfontlight;
                                border-radius: 50%;
                            }
                            .exploralugar {
                                margin-left: 0.5rem;
                            }
                        }
                    }
                }
                &:hover {
                    &.filled {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.perroicono {
    width: 2rem !important;
    height: 2rem !important;
    margin: 0 1rem !important;
    background-image: url("/images/dog.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gatosicono {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem !important;
    background-image: url("/images/cat.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.caballosicono {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem !important;
    background-image: url("/images/horse.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.avesicono {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem !important;
    background-image: url("/images/bird.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.roedoresicono {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem !important;
    background-image: url("/images/rabbit.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gallinasicono {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem !important;
    background-image: url("/images/gallina.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.loadingStyle {
    background-color: rgb(223, 223, 223);
    border-radius: 20px;
    color: rgb(223, 223, 223) !important;
    &.separator {
        display: none;
    }
}