body {
    overflow-y: hidden;
}

nav {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 500;
    .logo {
        cursor: pointer;
    }
    .navigation {
        display: flex;
        cursor: pointer;
        div {
            margin-left: 1vw;
        }
    }
}