nav {
    position: fixed;
    z-index: 100;
    width: 70vw;
    padding: 0 15vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 500;
    color: rgb(0, 0, 0);
    background-color: white;
    border: 1px solid rgb(230, 230, 230);
    font-weight: 500;
    .logo {
        display: flex;
        cursor: pointer;
        text-decoration: none;
        color: black;
        .logoimage {
            height: 5vh;
            width: 5vh;
            background-image: url(/images/logo.png);
            background-size: cover;
            margin-right: 1.5rem;
        }
        p {
            font-size: 2.4rem;
            margin: 0;
        }
    }
    .navigation {
        display: flex;
        cursor: pointer;
        div {
            margin-left: 2vw;
            font-size: 1rem;
            &:hover {
                color: rgb(104, 211, 104);
            }
        }
    }
}