// Main colors
$soft: #c0ecc4;
$hard: #5dd666;
$hardfont: #4ca852;
$harderfont: #357439;
$greybox: #c4c4c4;

// New colors
$newgreenhard: #52694F;
$newgreensoft: #949c81;
$newgreenlight: #F0E6D1;
$newgreencolorful: #8EC287;
$newgreencolorfullight: #B6F2BC;


.publica {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10vh;
	width: 90vw;
    max-width: 1200px;
    border-radius: 20px;
	.title {
        display: flex;
        justify-content: center;
        width: 100%;
		position: relative;
		color: $newgreenhard;
		font-size: 5.4rem;
        height: 8rem;
        @media (max-width: 1350px) {
            height: auto;
        }
	}
	.maincontainers {
		display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
		width: 100%;
        .decorationimage {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 500px;
            margin: 10px 0;
            z-index: -10;
            @media (max-width: 1350px) {
                height: 200px;
            }
            // @media (max-width: 500px) {
            //     height: 100px;
            // }
            &.first {
                .background {
                    background-image: url('/images/publicaimages/Frame\ 26.svg') !important; 
                }
            }
            &.second {
                height: 500px;
                @media (max-width: 1350px) {
                    height: 200px;
                }
                .background {
                    background-image: url('/images/publicaimages/Frame\ 28.svg') !important; 
                }
            }
            &.third {
                height: 200px;
                @media (max-width: 1350px) {
                    height: 200px;
                }
                .background {
                    background-image: url('/images/publicaimages/Frame\ 27.svg') !important;
                    height: 30vh;
                }
            }
            .background {
                width: 40vh;
                height: 40vh;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
		.datacontainer {
			display: flex;
			flex-direction: column;
			justify-content: left;
            align-items: center;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 4px 10px rgba(0,0,0,0.25);
            padding-top: 20px;
            padding-bottom: 80px;
            &.contact {
                padding-bottom: 20px;
            }
			width: 90vw;
            @media (max-width: 450px) {
                width: calc(100vw - 16px);
            }
            max-width: 600px;
            max-height: 100vw;
            margin-top: 40px;
            border-radius: 20px;
			.datarow {
				display: flex;
				justify-content: center;
                align-items: center;
				margin: 10px;
				width: 100%;
                @media (max-width: 450px) {
                    width: 90%;
                }
				height: 48px;
                &.especie {
                    margin-bottom: 48px;
                }
				.datatitle {
					display: flex;
					justify-content: right;
					align-items: center;
					margin-right: 28px;
					width: 96px;
					height: 48px;
                    color: $newgreenhard;
                    font-weight: 600;
				}
				.datainput {
					display: flex;
					justify-content: space-between;
					width: 300px;
					height: 40px;
                    &.especie {
                        justify-content: left;
                        flex-wrap: wrap;
                    }
                    &.genero {
                        justify-content: left;
                        flex-wrap: wrap;
                    }
					.inputbox {
						display: flex;
						align-items: center;
						justify-content: center;
						position: relative;
						width: 100%;
						height: 40px;
						color: $hardfont;
						// box-shadow: 0px 0px 1px 1px $greybox;
						border-radius: 8px;
                        background-color: rgb(238, 238, 238);
						&.especie {
							width: 40px;
							background-size: 25px 25px;
							background-position: center;
							background-repeat: no-repeat;
                            margin: 0 8px 8px 8px;
							&.perros {
								background-image: url(/images/dog.svg);
							}
							&.gatos {
								background-image: url(/images/cat.svg);
							}
							&.caballos {
								background-image: url(/images/horse.svg);
							}
							&.pajaros {
								background-image: url(/images/bird.svg);
							}
							&.roedores {
								background-image: url(/images/rabbit.svg);
							}
                            &.reptiles {
								background-image: url(/images/turtle.svg);
							}
							&.degranja {
								background-image: url(/images/vacas.svg);
							}
							&:hover {
								cursor: pointer;
							}
							&.active {
								background-color: $soft;
							}
						}
						&.raza {
							width: 100%;
                            pointer-events: none;
							&:hover {
								cursor: pointer;
							}
                            .innertext {
                                color: rgb(190, 190, 190);
                            }

						}
						&.genero {
							width: 40px;
                            margin: 0 8px;
							display: flex;
							align-items: center;
							color: rgb(223, 223, 223);
                            svg {
                                width: 70%;
                                height: 70%;
                            }
                            &.active {
								background-color: $soft;
							}
                            &:hover {
								cursor: pointer;
							}
						}
						&.edadnum {
							width: 25%;
							margin-right: 10%;
							&:hover {
								cursor: pointer;
							}
						}
						&.edaduom {
							width: 70%;
							&:hover {
								cursor: pointer;
							}
						}
						&.provincia {
							&:hover {
								cursor: pointer;
							}
						}
						&.ciudad {
							color: rgb(223, 223, 223);
							&:hover {
								cursor: auto;
							}
						}
						&.contacto {
							align-items: start;
							font-family: 'Montserrat Alternates', sans-serif;
                            height: 20px;
							font-size: 1.4rem;
                            letter-spacing: 1px;
							font-weight: 500;
							border: none;
							resize: none;
							padding: 1rem;
                            &.descripcion {
							    height: 8rem;
                            }
							&:hover {
								cursor: auto;
							}
							&:focus {
								outline: none;
							}
							&::placeholder {
                                font-size: 1.4rem;
                                font-weight: 500;
                                letter-spacing: 1px;
								color: rgb(190, 190, 190);
							}
						}
						.innertext {
							color: $newgreencolorful;
							font-weight: 500;
							&.selected {
								color: $newgreencolorful;
								font-weight: 500;
							}
						}
					}
					.cuantos {
						margin-right: 7%;
                        color: rgb(190, 190, 190);
						&.writteable {
							color: black;
						}
					}
					.selectable {
						display: none;
						flex-direction: column;
						text-align: left;
						position: absolute;
						z-index: 100;
						left: 0;
						top: 0;
						max-height: 450%;
						overflow-y: auto;
						overflow-x: hidden;
						width: 100%;
						background-color: rgb(255, 255, 255);
						border-radius: 8px;
						box-shadow: 0px 0px 1px 1px $greybox;
						&.displayed {
							display: flex;
						}
						.option {
							width: 100%;
							padding: 11px 14px;
							&:hover {
								cursor: pointer;
								background-color: $soft;
							}
						}
					}
				}
			}
		}
		.imagescontainer {
			display: flex;
			width: 100%;
            max-width: 600px;
            height: 500px;
            background-color: rgb(255, 255, 255);
            // box-shadow: 0 4px 10px rgba(0,0,0,0.25);
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            max-height: 100vw;
            .arrowleft {
                width: 1.5rem;
                height: 10%;
                background-image: url('/images/arrow.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                transform: scale(-1);
                margin-right: 1rem;
                visibility: hidden;
                opacity: 0;
                &:hover {
                    cursor: pointer;
                }
                &.displayed {
                    visibility: visible;
                    opacity: 1;
                }
            }
            .arrowright {
                width: 1.5rem;
                height: 10%;
                background-image: url('/images/arrow.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                margin-left: 1rem;
                visibility: hidden;
                opacity: 0;
                &:hover {
                    cursor: pointer;
                }
                &.displayed {
                    visibility: visible;
                    opacity: 1;
                }
            }
            .imagesdisplay {
                position: relative;
                display: flex;
                width: 500px;
                height: 500px;
                max-height: 90vw;
                box-shadow: 0 4px 10px rgba(0,0,0,0.25);
                border-radius: 20px;
                .uploadedimage {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    visibility: hidden;
                    opacity: 0;
                    background-position: center;
                    background-size: cover;
                    z-index: 10;
                    border-radius: 0 20px 0 20px;
                    &.displayed {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                .closer {
                    display: flex;
                    position: absolute;
                    font-size: 10px;
                    font-weight: 600;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    top: 8px;
                    right: 8px;
                    width: 24px;
                    height: 24px;
                    background-color: white;
                    border-radius: 50%;
                    z-index: 20;
                    opacity: 0;
                    visibility: hidden;
                    &.displayed {
                        opacity: 1;
                        visibility: visible;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                .numerodeimagenes {
                    display: flex;
                    position: absolute;
                    font-size: 10px;
                    font-weight: 600;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    bottom: 8px;
                    left: 8px;
                    width: 24px;
                    height: 24px;
                    background-color: rgb(255, 255, 255);
                    border-radius: 50%;
                    z-index: 20;
                    opacity: 0;
                    &.displayed {
                        opacity: 1;
                    }
                }
            }
            .subeaqui {
                font-weight: 600;
                position: absolute;
                transform: translateY(90px);
            }

			#files::-webkit-file-upload-button {
				visibility: hidden;	
			}
			#files {
                position: absolute;
				content: 'Select some files';
                color: white;
				display: inline-block;
				background-image: url('/images/uploadimagee.png');
				background-size: cover;
				background-position: center;
				border-radius: 20px;
				width: 200px;
				height: 200px;
				white-space: nowrap;
                transform: translateY(-50px);
				cursor: pointer;
			}
			#result{
				display: flex;
				flex-wrap: wrap;
				gap: 10px;
				padding: 10px 0;
			  }
			  .thumbnail {
				height: 192px;
			  }
		}
	}
	.publisherrormessage {
		font-size: 1.2rem;
		height: 0;
		text-align: center;
		margin-top: 60px;
		font-weight: 600;
		color: rgb(194, 60, 60);
	}
	.publishbutton {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 120px;
		height: 120px;
		margin: 20px auto 40px auto;
		color: $newgreenhard;
		font-weight: 600;
        letter-spacing: 1px;
		border-radius: 50%;
        background-color: #B6F2BC;
		box-shadow: 1px 1px 0.2rem rgb(155, 155, 155);
		&:hover {
			cursor: pointer;
		}
	}
}
.validationscreen {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 50;
	background: rgba(255, 255, 255, 0.37);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.25);
	.validationmessage {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $harderfont;
        font-size: 2.4rem;
		font-weight: 600;
		width: 100vw;
		height: 100px;
	}
	.ver {
		display: flex;
		justify-content: center;
		align-items: center;
        text-decoration: none;
		width: 8rem;
		height: 8rem;
		color: $harderfont;
        font-size: 1.5rem;
		font-weight: 600;
		letter-spacing: 0.125rem;
		border-radius: 50% 0;
		color: $harderfont;
		font-weight: 500;
        background-color: #B6F2BC;
		box-shadow: 1px 1px 0.2rem rgb(155, 155, 155);
		&:hover {
			cursor: pointer;
		}
	}
}

.loadingscreen {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 50;
	background: rgba(255, 255, 255, 0.37);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.25);
}

.loader {
    background-color: $newgreencolorfullight;
    border: 2px solid $newgreenhard; /* Light grey */
    border-radius: 50% 0 50% 0;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin-bottom: 18px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }