/* scrollbar */
/* width */
::-webkit-scrollbar {
	display: none;
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #ffffff;
	border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(212, 212, 212);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(172, 172, 172);
}
