@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500&display=swap");
/* scrollbar */
/* width */
::-webkit-scrollbar {
  display: none;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}

nav {
  position: fixed;
  z-index: 100;
  width: 70vw;
  padding: 0 15vw;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 500;
  color: black;
  background-color: white;
  border: 1px solid #e6e6e6;
  font-weight: 500;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

nav .logo .logoimage {
  height: 5vh;
  width: 5vh;
  background-image: url(/images/logo.png);
  background-size: cover;
  margin-right: 1.5rem;
}

nav .logo p {
  font-size: 2.4rem;
  margin: 0;
}

nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

nav .navigation div {
  margin-left: 2vw;
  font-size: 1rem;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10vh;
  width: 70vw;
  height: 100vh;
  background-color: white;
  background-size: cover;
}

.landing .searcher {
  z-index: 20;
  margin-top: 0vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70vw;
}

.landing .searcher .busquedarapida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.15rem;
  font-weight: 500;
  min-width: 15vw;
}

.landing .searcher .selectable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 0.5rem;
  width: 14rem;
  height: 3.2rem;
  -webkit-box-shadow: 0 0 0.2rem #9b9b9b;
          box-shadow: 0 0 0.2rem #9b9b9b;
  background-color: white;
  border-radius: 10px;
}

.landing .searcher .selectable p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.landing .searcher .selectable .chosen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
}

.landing .searcher .selectable .flechaseleccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing .searcher .selectable .flechaseleccion .bar {
  background-color: black;
  width: 10px;
  height: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.landing .searcher .selectable .flechaseleccion .bar.a {
  -webkit-transform: translateX(4px) rotate(45deg);
          transform: translateX(4px) rotate(45deg);
}

.landing .searcher .selectable .flechaseleccion .bar.b {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.landing .searcher .selectable.displayed .flechaseleccion .bar.a {
  -webkit-transform: translateX(4px) rotate(-45deg);
          transform: translateX(4px) rotate(-45deg);
}

.landing .searcher .selectable.displayed .flechaseleccion .bar.b {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.landing .searcher .selectable.zona:hover {
  cursor: pointer;
}

.landing .searcher .selectable.especie:hover {
  cursor: pointer;
}

.landing .searcher .selectable.raza:hover {
  cursor: pointer;
}

.landing .searcher .gosearch {
  position: relative;
  width: 3.2rem;
  min-width: 3.2rem;
  height: 3.2rem;
  background-color: white;
  margin-left: 5rem;
  -webkit-box-shadow: 0 0 0.2rem #9b9b9b;
          box-shadow: 0 0 0.2rem #9b9b9b;
  border-radius: 10px;
}

.landing .searcher .gosearch svg {
  position: absolute;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.landing .searcher .gosearch:hover {
  cursor: pointer;
}

.landing .searcher .gosearch:hover svg {
  -webkit-transform: rotateZ(-10deg);
          transform: rotateZ(-10deg);
}

.landing .searcher .gosearch .searchbrush {
  position: absolute;
  z-index: -10;
  width: 7rem;
  height: 7rem;
  -webkit-transform: translateX(-30%) translateY(-30%);
          transform: translateX(-30%) translateY(-30%);
  background-image: url(/images/searchbrush.png);
  background-size: cover;
}

.landing .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  width: 80rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 80vh;
  width: 70vw;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.landing .options .options-zona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 12.7rem;
  width: 16rem;
  visibility: hidden;
  margin: 1rem 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-shadow: 0 0 0.2rem #9b9b9b;
          box-shadow: 0 0 0.2rem #9b9b9b;
}

.landing .options .options-zona.displayed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  background-color: white;
  border-radius: 10px;
}

.landing .options .options-zona.displayed div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
}

.landing .options .options-zona.displayed div div {
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0.5rem;
}

.landing .options .options-zona.displayed div:hover {
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.landing .options .options-zona .option {
  width: 100%;
  height: 1.2rem !important;
  padding: 0.55rem 1rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.landing .options .options-zona .option:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.landing .options .options-especie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 12.7rem;
  width: 16rem;
  visibility: hidden;
  margin: 1rem 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-shadow: 0 0 0.2rem #9b9b9b;
          box-shadow: 0 0 0.2rem #9b9b9b;
}

.landing .options .options-especie.displayed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  background-color: white;
  border-radius: 10px;
}

.landing .options .options-especie.displayed div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
}

.landing .options .options-especie.displayed div div {
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0.5rem;
}

.landing .options .options-especie.displayed div:hover {
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.landing .options .options-raza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 12.7rem;
  width: 16rem;
  margin: 1rem 0.5rem;
  visibility: hidden;
  background-color: white;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-shadow: 0 0 0.2rem #9b9b9b;
          box-shadow: 0 0 0.2rem #9b9b9b;
}

.landing .options .options-raza.displayed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  background-color: white;
  border-radius: 10px;
}

.landing .options .options-raza .option {
  width: 100%;
  height: 1.2rem !important;
  padding: 1rem 1rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.landing .options .options-raza .option:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.landing .options .analog-blankspace-busquedarapida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  min-width: 15vw;
}

.landing .options .analog-blankspace-searcher {
  margin-left: 5rem;
  width: 3.2rem;
  height: 3.2rem;
}

.landing .publishnowcontainer {
  width: 70vw;
  height: 60vh;
}

.landing .publishnowcontainer .playingdogs {
  position: relative;
  top: 5vh;
  left: 5vw;
  width: 38vw;
  height: 47vh;
  background-image: url(/images/perrosjugando.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 2.5rem;
}

.landing .publishnowcontainer .description {
  position: relative;
  width: 20vw;
  top: -28vh;
  left: 40vw;
  font-size: 1vw;
  color: rgba(0, 0, 0, 0.4);
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 500;
  margin-bottom: 4vh;
}

.landing .publishnowcontainer .publishbutton {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  top: -30vh;
  left: 48vw;
  width: 12vw;
  height: 3.5rem;
  border-radius: 1rem;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 0 0.2rem #9b9b9b;
          box-shadow: 0 0 0.2rem #9b9b9b;
}

.landing .publishnowcontainer .publishbutton:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.landing .toppublicaciones {
  margin-top: 5vh;
}

.landing .toppublicaciones p {
  color: black;
  font-size: 2.4vh;
  font-weight: 500;
}

.landing .toppublicaciones .gridpublicaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70vw;
  height: 15rem;
}

.landing .toppublicaciones .gridpublicaciones .publicacion {
  width: 15vw;
  height: 12rem;
  border-radius: 1.5rem;
  background-color: #e9e9e9;
  background-size: cover;
}

.landing .toppublicaciones .gridpublicaciones .publicacion:nth-child(1) {
  background-image: url(/images/publicacion1.jpg);
}

.landing .toppublicaciones .gridpublicaciones .publicacion:nth-child(2) {
  background-image: url(/images/publiacion2.jpg);
}

.landing .toppublicaciones .gridpublicaciones .publicacion:nth-child(3) {
  background-image: url(/images/publicacion3.jpg.crdownload);
}

.landing .toppublicaciones .gridpublicaciones .publicacion:nth-child(4) {
  background-image: url(/images/publicacion4.jpg);
}

.landing .explora {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .explora p {
  color: black;
  font-size: 1.15rem;
  font-weight: 500;
  margin-top: 10vh;
}

.landing .explora .explorebrush {
  position: absolute;
  top: 5.4vh;
  width: 12rem;
  height: 8rem;
  background-image: url(/images/explorebrush.png);
  background-size: cover;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.perroicono {
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0.5rem;
  padding-left: 2rem;
  background-image: url("/images/dog.png");
}

.gatosicono {
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0.5rem;
  padding-left: 2rem;
  background-image: url("/images/cat.png");
}

.caballosicono {
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0.5rem;
  padding-left: 2rem;
  background-image: url("/images/horse.png");
}

.avesicono {
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0.5rem;
  padding-left: 2rem;
  background-image: url("/images/pato.png");
}

.roedoresicono {
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0.5rem;
  padding-left: 2rem;
  background-image: url("/images/rata.png");
}

.gallinasicono {
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0.5rem;
  padding-left: 2rem;
  background-image: url("/images/gallina.png");
}

body {
  background-color: #fdfdfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
}
/*# sourceMappingURL=styles.css.map */