@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600&display=swap');
@import './scrollbar';

@import './nav';
@import './landing';
@import './publish';
@import './inventory';

$newgreenhard: #52694F;
$newgreensoft: #949c81;
$newgreenlight: #F0E6D1;

html {
    font-size: 62.5%; // 1rem = 10px
    @media (max-width: 800px) {
        font-size: 55%
      }      
    @media (max-width: 450px) {
        font-size: 50%
      }    
}

body {
    color: $newgreenhard;
	background-color: rgb(253, 253, 253);
	display: flex;
	justify-content: center;
	font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
	margin: 0;
}

