@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500&display=swap");
/* scrollbar */
/* width */
::-webkit-scrollbar {
  display: none;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}

nav {
  position: fixed;
  z-index: 100;
  width: 70vw;
  padding: 0 15vw;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 500;
  color: black;
  background-color: white;
  border: 1px solid #e6e6e6;
  font-weight: 500;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

nav .logo .logoimage {
  height: 5vh;
  width: 5vh;
  background-image: url(/images/logo.png);
  background-size: cover;
  margin-right: 1.5rem;
}

nav .logo p {
  font-size: 2.4rem;
  margin: 0;
}

nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

nav .navigation div {
  margin-left: 2vw;
  font-size: 1rem;
}

nav .navigation div:hover {
  color: #68d368;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10vh;
  width: 70vw;
  background-color: white;
  background-size: cover;
}

.landing .searcher {
  z-index: 20;
  margin-top: 0vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70vw;
}

.landing .searcher .busquedarapida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.15rem;
  font-weight: 500;
  min-width: 15vw;
}

.landing .searcher .selectable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 0.5rem;
  width: 20rem;
  height: 3.2rem;
  -webkit-box-shadow: 0 0 0.2rem #9b9b9b;
          box-shadow: 0 0 0.2rem #9b9b9b;
  background-color: white;
  border-radius: 20px;
}

.landing .searcher .selectable p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.landing .searcher .selectable .chosen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.landing .searcher .selectable .flechaseleccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing .searcher .selectable .flechaseleccion .bar {
  background-color: black;
  width: 10px;
  height: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.landing .searcher .selectable .flechaseleccion .bar.a {
  -webkit-transform: translateX(4px) rotate(45deg);
          transform: translateX(4px) rotate(45deg);
}

.landing .searcher .selectable .flechaseleccion .bar.b {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.landing .searcher .selectable.displayed .flechaseleccion .bar.a {
  -webkit-transform: translateX(4px) rotate(-45deg);
          transform: translateX(4px) rotate(-45deg);
}

.landing .searcher .selectable.displayed .flechaseleccion .bar.b {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.landing .searcher .selectable.zona:hover {
  cursor: pointer;
}

.landing .searcher .selectable.especie:hover {
  cursor: pointer;
}

.landing .searcher .selectable.raza:hover {
  cursor: pointer;
}

.landing .searcher .gosearch {
  position: relative;
  width: 3.2rem;
  min-width: 3.2rem;
  height: 3.2rem;
  background-color: white;
  margin-left: 5rem;
  -webkit-box-shadow: 0 0 0.2rem #9b9b9b;
          box-shadow: 0 0 0.2rem #9b9b9b;
  border-radius: 20px;
}

.landing .searcher .gosearch svg {
  position: absolute;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.landing .searcher .gosearch:hover {
  cursor: pointer;
}

.landing .searcher .gosearch:hover svg {
  -webkit-transform: rotateZ(-10deg);
          transform: rotateZ(-10deg);
}

.landing .searcher .gosearch .searchbrush {
  position: absolute;
  z-index: -10;
  width: 7rem;
  height: 7rem;
  -webkit-transform: translateX(-30%) translateY(-30%);
          transform: translateX(-30%) translateY(-30%);
  background-image: url(/images/searchbrush.png);
  background-size: cover;
}

.landing .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  width: 80rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 76vh;
  width: 70vw;
}

.landing .options .options-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 19vh;
  width: 16rem;
  visibility: hidden;
  margin: 1rem 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-shadow: 0 0 0.2rem #9b9b9b;
          box-shadow: 0 0 0.2rem #9b9b9b;
}

.landing .options .options-type.displayed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  background-color: white;
  border-radius: 20px;
}

.landing .options .options-zona.displayed div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing .options .options-zona.displayed div div {
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0.5rem;
}

.landing .options .options-zona.displayed div:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.landing .options .options-zona .option {
  width: 100%;
  height: 1.2rem !important;
  padding: 0.55rem 1rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.landing .options .options-zona .option:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.landing .options .options-especie.displayed .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .options .options-especie.displayed .option div {
  width: 2rem;
  height: 1.8rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0.3rem;
}

.landing .options .options-especie.displayed .option:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.landing .options .options-raza .option {
  width: 100%;
  height: 1.2rem !important;
  padding: 0.55rem 1rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.landing .options .options-raza .option:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.landing .options .analog-blankspace-busquedarapida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.15rem;
  font-weight: 500;
  min-width: 15vw;
}

.landing .options .analog-blankspace-searcher {
  margin-left: 5rem;
  width: 3.2rem;
  height: 3.2rem;
}

.landing .publishnowcontainer {
  width: 70vw;
  height: 60vh;
}

.landing .publishnowcontainer .playingdogs {
  position: relative;
  top: 5vh;
  left: 7vw;
  width: 38vw;
  height: 47vh;
  background-image: url(/images/perrosjugando.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 2.5rem;
}

.landing .publishnowcontainer .description {
  position: relative;
  width: 20vw;
  top: -28vh;
  left: 42vw;
  font-size: 1.15rem;
  color: rgba(0, 0, 0, 0.4);
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  font-weight: 500;
  margin-bottom: 4vh;
}

.landing .publishnowcontainer .publishbutton {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #357439;
  font-weight: 500;
  font-size: 1.15rem;
  letter-spacing: 2px;
  top: -30vh;
  left: 50vw;
  width: 12rem;
  height: 3.5rem;
  border: 2px solid #4ca852;
  border-radius: 30px;
  background-image: url(/images/titlebrushback.png);
  background-size: cover;
  -webkit-box-shadow: 2px 2px 0.2rem #9b9b9b;
          box-shadow: 2px 2px 0.2rem #9b9b9b;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.landing .publishnowcontainer .publishbutton:hover {
  cursor: pointer;
  border-radius: 20px 30px 20px 30px;
}

.landing .explora {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .explora p {
  color: black;
  font-size: 1.15rem;
  font-weight: 500;
  margin-top: 10vh;
}

.landing .explora .explorebrush {
  position: absolute;
  top: 5.7vh;
  width: 12rem;
  height: 8rem;
  background-image: url(/images/explorebrush.png);
  background-size: cover;
  opacity: 0.8;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.landing .explora:hover {
  cursor: pointer;
}

.landing .exploragrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70vw;
  margin-top: 8vh;
}

.landing .exploragrid .explorarow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.landing .exploragrid .explorarow .exploraitem {
  width: 15vw;
  max-width: 18rem;
  margin: 1rem 1.5rem;
}

.landing .exploragrid .explorarow .exploraitem .exploraimage {
  width: 100%;
  padding-bottom: 100%;
  background-color: #e6e6e6;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.landing .exploragrid .explorarow .exploraitem .explorainfo {
  margin-top: 0.5rem;
}

.landing .exploragrid .explorarow .exploraitem .explorainfo .exploratitulo {
  width: 7rem;
  height: 1rem;
  background-color: #e6e6e6;
  border-radius: 20px;
}

.landing .exploragrid .explorarow .exploraitem .explorainfo .exploralugar {
  width: 10rem;
  height: 1rem;
  background-color: #e6e6e6;
  border-radius: 20px;
  margin-top: 2px;
}

.landing .exploragrid .explorarow .exploraitem.relleno .explorainfo .exploratitulo {
  background-color: white;
  color: #4ca852;
  font-weight: bold;
  width: 10rem;
}

.landing .exploragrid .explorarow .exploraitem.relleno .explorainfo .exploralugar {
  background-color: white;
  color: #949494;
  width: 10rem;
}

.landing .exploragrid .explorarow .exploraitem:hover {
  cursor: pointer;
}

.perroicono {
  width: 2rem !important;
  height: 2rem !important;
  margin: 0 1rem !important;
  background-image: url("/images/dog.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gatosicono {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem !important;
  background-image: url("/images/cat.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.caballosicono {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem !important;
  background-image: url("/images/horse.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.avesicono {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem !important;
  background-image: url("/images/bird.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.roedoresicono {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem !important;
  background-image: url("/images/rabbit.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallinasicono {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem !important;
  background-image: url("/images/gallina.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.publica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10vh;
  width: 70vw;
}

.publica .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: #357439;
  width: 20rem;
  font-size: 2rem;
  margin: auto;
}

.publica .title p {
  z-index: 10;
  letter-spacing: 0.1rem;
}

.publica .title .brush {
  position: absolute;
  top: 1.5rem;
  width: 100%;
  height: 100%;
  background-image: url(/images/titlebrush.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.publica .maincontainers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3vh;
  width: 70vw;
  height: 60vh;
}

.publica .maincontainers .datacontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 35vw;
  height: 60vh;
}

.publica .maincontainers .datacontainer .datarow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.4rem;
  width: 100%;
  height: 3rem;
}

.publica .maincontainers .datacontainer .datarow .datatitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 6rem;
  height: 3rem;
}

.publica .maincontainers .datacontainer .datarow .datainput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12rem;
  height: 3rem;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 2.5rem;
  color: #4ca852;
  -webkit-box-shadow: 0px 0px 0.1rem 1px #c4c4c4;
          box-shadow: 0px 0px 0.1rem 1px #c4c4c4;
  border-radius: 15px;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.especie {
  width: 2.5rem;
  background-size: 1.8rem 1.8rem;
  background-position: center;
  background-repeat: no-repeat;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.especie.perros {
  background-image: url(/images/dog.svg);
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.especie.gatos {
  background-image: url(/images/cat.svg);
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.especie.caballos {
  background-image: url(/images/horse.svg);
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.especie.aves {
  background-image: url(/images/bird.svg);
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.especie.roedores {
  background-image: url(/images/rabbit.svg);
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.especie:hover {
  cursor: pointer;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.especie.active {
  -webkit-box-shadow: 0 0 2px 1px #5dd666;
          box-shadow: 0 0 2px 1px #5dd666;
  background-color: #c0ecc4;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.raza {
  width: 100%;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.raza:hover {
  cursor: pointer;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.multiples {
  width: 1rem;
  height: 0.9rem;
  margin-right: 15%;
  border-radius: 5px;
  -webkit-appearance: none;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.multiples:hover {
  cursor: pointer;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.multiples:checked {
  background-color: #c0ecc4;
  -webkit-box-shadow: 0 0 1px 2px #5dd666;
          box-shadow: 0 0 1px 2px #5dd666;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.numero {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dfdfdf;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.numero.writteable {
  color: #4ca852;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.numero.writteable:hover {
  cursor: pointer;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.edadnum {
  width: 25%;
  margin-right: 10%;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.edadnum:hover {
  cursor: pointer;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.edaduom {
  width: 70%;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.edaduom:hover {
  cursor: pointer;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.provincia:hover {
  cursor: pointer;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.ciudad {
  color: #dfdfdf;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.ciudad:hover {
  cursor: auto;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.descripcion {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-family: 'Montserrat Alternates', sans-serif;
  min-height: 6rem;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  resize: none;
  padding: 1rem;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.descripcion:hover {
  cursor: auto;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.descripcion:focus {
  outline: none;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.descripcion::-webkit-input-placeholder {
  color: #dfdfdf;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.descripcion:-ms-input-placeholder {
  color: #dfdfdf;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.descripcion::-ms-input-placeholder {
  color: #dfdfdf;
}

.publica .maincontainers .datacontainer .datarow .datainput .inputbox.descripcion::placeholder {
  color: #dfdfdf;
}

.publica .maincontainers .datacontainer .datarow .datainput .cuantos {
  margin-right: 7%;
  color: #dfdfdf;
}

.publica .maincontainers .datacontainer .datarow .datainput .cuantos.writteable {
  color: black;
}

.publica .maincontainers .datacontainer .datarow .datainput .selectable {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  max-height: 350%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 0.2rem #c4c4c4;
          box-shadow: 0 0 0.2rem #c4c4c4;
}

.publica .maincontainers .datacontainer .datarow .datainput .selectable.displayed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.publica .maincontainers .datacontainer .datarow .datainput .selectable .option {
  width: 100%;
  padding: 0.7rem 0;
}

.publica .maincontainers .datacontainer .datarow .datainput .selectable .option:hover {
  cursor: pointer;
  background-color: #c0ecc4;
}

.publica .maincontainers .datacontainer .datarow.descripcion .datainput {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 18rem;
}

.publica .maincontainers .datacontainer .datarow.especie .datainput {
  width: 18rem;
}

.publica .maincontainers .datacontainer .datarow.raza .datainput {
  width: 18rem;
}

.publica .maincontainers .imagescontainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35vw;
  height: 60vh;
}

.publica .maincontainers .imagescontainer .uploadedimage {
  position: absolute;
  width: 0;
  height: 0;
  padding: 8rem;
  background-color: white;
  background-size: cover;
  background-position: center;
  border: 0.2rem solid #e9e9e9;
  border-radius: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.publica .maincontainers .imagescontainer .uploadedimage.extended {
  padding: 10rem 15rem;
  -webkit-transform: translateX(0) translateY(-3rem) !important;
          transform: translateX(0) translateY(-3rem) !important;
}

.publica .maincontainers .imagescontainer .uploadedimage.displayed {
  opacity: 1;
}

.publica .maincontainers .imagescontainer .uploadedimage:hover.imaged {
  cursor: pointer;
}

.publica .maincontainers .imagescontainer .uploadedimage:nth-child(1) {
  -webkit-transform: translateX(-6rem) translateY(-2rem);
          transform: translateX(-6rem) translateY(-2rem);
  z-index: 4;
}

.publica .maincontainers .imagescontainer .uploadedimage:nth-child(2) {
  -webkit-transform: translateX(-2rem) translateY(-3rem);
          transform: translateX(-2rem) translateY(-3rem);
  z-index: 3;
}

.publica .maincontainers .imagescontainer .uploadedimage:nth-child(3) {
  -webkit-transform: translateX(2rem) translateY(-1rem);
          transform: translateX(2rem) translateY(-1rem);
  z-index: 2;
}

.publica .maincontainers .imagescontainer .uploadedimage:nth-child(4) {
  -webkit-transform: translateX(6rem) translateY(-2rem);
          transform: translateX(6rem) translateY(-2rem);
  z-index: 1;
}

.publica .maincontainers .imagescontainer #files::-webkit-file-upload-button {
  visibility: hidden;
}

.publica .maincontainers .imagescontainer #files {
  position: absolute;
  bottom: 5vh;
  content: 'Select some files';
  display: inline-block;
  background-image: url("/images/plus.png");
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 0px 0.2rem 1px #c4c4c4;
          box-shadow: 0px 0px 0.2rem 1px #c4c4c4;
  border-radius: 20px;
  width: 3rem;
  height: 3rem;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.publica .maincontainers .imagescontainer #result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;
}

.publica .maincontainers .imagescontainer .thumbnail {
  height: 192px;
}

.publica .publishbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8rem;
  height: 5vh;
  margin: 3vh auto;
  border: 2px solid #4ca852;
  color: #357439;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 40px;
  background-image: url(/images/titlebrushback.png);
  background-size: cover;
  -webkit-box-shadow: 2px 2px 0.2rem #9b9b9b;
          box-shadow: 2px 2px 0.2rem #9b9b9b;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.publica .publishbutton:hover {
  cursor: pointer;
  width: 8.3rem;
  height: 5.2vh;
  -webkit-transform: translateY(-0.1vh);
          transform: translateY(-0.1vh);
}

body {
  background-color: #fdfdfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
}
/*# sourceMappingURL=styles.css.map */